{{- $ := index . "$" -}}
{{- $iconName := .iconName | default "search" -}}
<form id="search" class="search" role="search">
    <label for="search-input">
        <span class="visually-hidden">{{ i18n "search" }}</span>
        {{- partial "utils/icon.html" (dict "$" $ "name" $iconName "class" "search-icon") -}}
    </label>
    <input type="search" id="search-input" class="search-input" placeholder="{{ i18n "search" }}">
</form>

<template id="search-result" hidden>
    <article class="content post">
        <h2 class="post-title"><a class="summary-title-link"{{ if $.Site.Params.openPostsInNewTab }} target="_blank" rel="noopener"{{ end }}></a></h2>
        <summary class="summary"></summary>
        <div class="read-more-container">
            <a class="read-more-link"{{ if $.Site.Params.openPostsInNewTab }} target="_blank" rel="noopener"{{ end }}>{{ i18n "readMore" }} »</a>
        </div>
    </article>
</template>
